# Firebase API Key for Authentication
VITE_FIREBASE_API_KEY=your_firebase_api_key_here

# API Gateway URL (defaults to port 8000)
VITE_SERVER_URL="http://localhost:8000"

# Razorpay Key ID for processing payments
VITE_RAZORPAY_KEY=your_razorpay_key_id_here

