# Billing Service Port
PORT=8004

# MongoDB Connection URL
MONGODB_URL=mongodb://localhost:27017/cortex_billing

# Auth Service URL
AUTH_SERVICE="http://localhost:8001"

# Razorpay credentials for payment gateway
RAZORPAY_KEY_ID=your_razorpay_key_id_here
RAZORPAY_KEY_SECRET=your_razorpay_key_secret_here
